header {
  background-color: #0D171D;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  padding-top: 24px;
}
header .container {
  height: 803px;
  background: url(/img/other/header-home.png), url(/img/other/logo.svg), url(/img/other/points.svg), radial-gradient(ellipse 360px 240px at 600px 450px, rgba(52, 56, 127, 0.36) 0%, rgba(52, 56, 127, 0.18) 40%, rgba(52, 56, 127, 0) 100%);
  background-position: center 50px, center 500px, 665px 430px;
  background-repeat: no-repeat;
  background-size: 523px 411px, 462px 184px, 142px 170px, cover;
}

.container {
  position: relative;
  width: 1184px;
  margin: 0 auto;
}

.btn-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0;
}
.btn-nav li:hover {
  background-color: #A1D737;
  height: 42px;
  border-radius: 50px;
  border: none;
}
.btn-nav li:hover a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #111111;
}
.btn-nav-ch {
  height: 42px;
  border-radius: 50px;
  border: solid 1px rgba(250, 250, 250, 0.3);
  background-color: inherit;
  width: 126px;
  padding-top: 10px;
}
.btn-nav-ch a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: white;
}
.btn-nav-ep {
  height: 42px;
  border-radius: 50px;
  border: solid 1px rgba(250, 250, 250, 0.3);
  background-color: inherit;
  width: 113px;
  padding-top: 10px;
}
.btn-nav-ep a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.search {
  position: absolute;
  top: 0;
  height: 42px;
  border-radius: 50px;
  border: solid 1px rgba(250, 250, 250, 0.3);
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: white;
  right: 0;
  width: 124px;
  padding: 12px 24px 12px 50px;
  background-color: inherit;
  background-image: url(/img/other/search.svg);
  background-position: 24px 12px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.search::-webkit-input-placeholder {
  color: white;
}
.search::-moz-placeholder {
  color: white;
}
.search:-ms-input-placeholder {
  color: white;
}
.search::-ms-input-placeholder {
  color: white;
}
.search::placeholder {
  color: white;
}

.header-text {
  width: 311px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-top: 200px;
}

main {
  overflow: hidden;
}

.moving-line {
  position: relative;
  height: 173px;
  background-image: url(/img/other/line.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: lineMove 15s infinite linear;
          animation: lineMove 15s infinite linear;
}

.characters-slider-cont {
  height: 764px;
  margin-top: 110px;
}
.characters-slider-cont h2 {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 44px;
  color: #111111;
}
.characters-slider-cont h2 span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 44px;
  color: white;
  background-color: #0D171D;
  border-radius: 60px;
  padding: 0 15px;
}

.characters-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 32px;
  margin-top: 64px;
  overflow: hidden;
}

.ch-img {
  position: relative;
  left: 0;
  top: 0;
  width: 504px;
  height: 644px;
  border-radius: 50px;
  background-image: url(/img/mainCharacters/rick.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #A1D737;
}

.ch-text {
  width: 648px;
  margin: 0;
}
.ch-text li {
  border-bottom: 1px solid rgba(17, 17, 17, 0.15);
}
.ch-text li:first-of-type h3 {
  margin-top: 0;
}
.ch-text .ch-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #111111;
}
.ch-text p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #111111;
}

.selected {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #A1D737;
}

.bg-up {
  -webkit-animation: bg-up 2s linear;
          animation: bg-up 2s linear;
}

.bg-down {
  -webkit-animation: bg-down 2s linear;
          animation: bg-down 2s linear;
}

.episodes-slider {
  height: 744px;
  margin-top: 110px;
  padding-top: 100px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: #0D171D;
}
.episodes-slider h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 44px;
  color: white;
  width: 620px;
  margin-bottom: 60px;
}
.episodes-slider h3 span {
  background-color: #A1D737;
  border-radius: 50px;
  padding: 0 10px;
}

.episodes-slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  gap: 24px;
}
.episodes-slider_container .first li {
  border: 1px solid red;
}

.episodes-slider_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  gap: 24px;
}
.episodes-slider_list li {
  width: 278px;
  height: 314px;
  border-radius: 25px;
  border: 2px solid #A1D737;
}

.ep_li-first {
  background-image: url("/img/other/first.png");
}

.ep_li-second {
  background-image: url("/img/other/second.png");
}

.ep_li-third {
  background-image: url("/img/other/third.png");
}

.ep_li-fourth {
  background-image: url("/img/other/fourth.png");
}

.ep_li-fifth {
  background-image: url("/img/other/fifth.png");
}

.firstMove {
  -webkit-animation: moveFirst 5s linear infinite;
          animation: moveFirst 5s linear infinite;
}

.secondMove {
  -webkit-animation: moveSecond 5s linear infinite;
          animation: moveSecond 5s linear infinite;
}

@-webkit-keyframes moveFirst {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes moveFirst {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes moveSecond {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes moveSecond {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.episodes-btn {
  height: 42px;
  border-radius: 50px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #111111;
  width: 113px;
  margin-left: 1400px;
  background-color: #A1D737;
  margin-top: 30px;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 300px;
  padding-top: 40px;
  margin-bottom: 150px;
}

.footer-logo {
  position: relative;
  width: 225px;
  height: 120px;
  background-image: url(/img/other/footer.svg);
  background-position: 15px top;
  background-repeat: no-repeat;
  background-size: 99px 84px;
}

.rick-logo {
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 153px;
  margin: 70px 0 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: white;
  padding: 14px 24px;
  background-color: #0D171D;
}

.morty-logo {
  position: absolute;
  left: 85px;
  top: 50px;
  height: 49px;
  border-radius: 25px;
  border: none;
  width: 125px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #111111;
  text-align: center;
  padding: 14px 24px;
  margin: 0;
  background-color: #DAF836;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
}

.footer-nav {
  padding-top: 30px;
}
.footer-nav li:first-of-type {
  margin-bottom: 16px;
}
.footer-nav a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #111111;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  padding-top: 30px;
}
.networks li {
  width: 56px;
  height: 56px;
  border: 1px solid rgba(17, 17, 17, 0.15);
  border-radius: 15px;
}

.footer-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 17, 17, 0.4);
  text-align: center;
}

@-webkit-keyframes bg-down {
  0% {
    top: 0;
  }
  60% {
    top: 1000px;
  }
  100% {
    top: 1000px;
  }
}

@keyframes bg-down {
  0% {
    top: 0;
  }
  60% {
    top: 1000px;
  }
  100% {
    top: 1000px;
  }
}
@-webkit-keyframes bg-up {
  0% {
    top: 1000px;
  }
  60% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
@keyframes bg-up {
  0% {
    top: 1000px;
  }
  60% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes lineMove {
  0% {
    left: 1700px;
  }
  55% {
    left: -100px;
  }
  100% {
    left: -1500px;
  }
}
@keyframes lineMove {
  0% {
    left: 1700px;
  }
  55% {
    left: -100px;
  }
  100% {
    left: -1500px;
  }
}
* {
  list-style-type: none;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */