.header-main-cont {
  background-color: #0D171D;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  padding-top: 14px;
}
.header-main-cont .container {
  height: 803px;
  padding-top: 24px;
  background: url(/img/other/header-home.png), url(/img/other/logo.svg), url(/img/other/points.svg), radial-gradient(ellipse 360px 240px at 600px 450px, rgba(52, 56, 127, 0.36) 0%, rgba(52, 56, 127, 0.18) 40%, rgba(52, 56, 127, 0) 100%);
  background-position: center 50px, center 500px, 665px 430px;
  background-repeat: no-repeat;
  background-size: 523px 411px, 462px 184px, 142px 170px, cover;
}

@media screen and (max-width: 768px) {
  .header-main-cont .container {
    height: 825px;
    padding-top: 14px;
    background: url(/img/other/header-home.png), url(/img/other/logo.svg), url(/img/other/points.svg), radial-gradient(ellipse 360px 240px at 400px 450px, rgba(52, 56, 127, 0.36) 0%, rgba(52, 56, 127, 0.18) 40%, rgba(52, 56, 127, 0) 100%);
    background-position: center 50px, center 500px, 420px 430px;
    background-repeat: no-repeat;
    background-size: 523px 411px, 462px 184px, 142px 170px, cover;
  }
}
@media screen and (max-width: 376px) {
  .header-main-cont .container {
    height: 791px;
    padding-top: 14px;
    background: url(/img/other/header-home.png), url(/img/other/logo.svg), url(/img/other/points.svg), radial-gradient(ellipse 230px 240px at 160px 200px, rgba(52, 56, 127, 0.36) 0%, rgba(52, 56, 127, 0.18) 40%, rgba(52, 56, 127, 0) 100%);
    background-position: center 156px, center 460px, 180px 350px;
    background-repeat: no-repeat;
    background-size: 335px 259px, 323px 128px, 142px 170px, cover;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}
@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1184px;
}

.btn-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0;
}
.btn-nav li:hover {
  background-color: #A1D737;
  height: 42px;
  border-radius: 50px;
  border: none;
}
.btn-nav li:hover a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #111111;
}
.btn-nav-ch {
  height: 42px;
  border-radius: 50px;
  border: solid 1px rgba(250, 250, 250, 0.3);
  background-color: inherit;
  padding-top: 10px;
}
.btn-nav-ch a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: white;
}
.btn-nav-ep {
  height: 42px;
  border-radius: 50px;
  border: solid 1px rgba(250, 250, 250, 0.3);
  background-color: inherit;
  padding-top: 10px;
}
.btn-nav-ep a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: white;
}

@media screen and (min-width: 375px) {
  .btn-nav {
    padding: 0;
  }
  .btn-nav-ch {
    width: 107px;
  }
  .btn-nav-ep {
    width: 96px;
  }
}
@media screen and (min-width: 768px) {
  .btn-nav-ch {
    width: 126px;
  }
  .btn-nav-ep {
    width: 113px;
  }
}
.search {
  position: absolute;
  top: 20px;
  height: 42px;
  border-radius: 50px;
  border: solid 1px rgba(250, 250, 250, 0.3);
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: white;
  right: 0;
  width: 124px;
  padding: 12px 24px 12px 50px;
  background-color: inherit;
  background-image: url(/img/other/search.svg);
  background-position: 24px 12px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.search::-webkit-input-placeholder {
  color: white;
}
.search::-moz-placeholder {
  color: white;
}
.search:-ms-input-placeholder {
  color: white;
}
.search::-ms-input-placeholder {
  color: white;
}
.search::placeholder {
  color: white;
}

@media screen and (max-width: 376px) {
  .search {
    top: 15px;
    width: 103px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 12px;
    color: white;
    padding: 12px 0 12px 42px;
    background-position: 18px 12px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
  }
}
.header-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: white;
  width: 311px;
  margin-top: 200px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .header-text {
    width: 412px;
    margin: 670px auto 0;
    text-align: center;
  }
}
@media screen and (max-width: 376px) {
  .header-text {
    width: 291px;
    margin: 567px auto 0;
    text-align: center;
  }
}
.arrow-btn {
  position: fixed;
  z-index: 999;
  right: 130px;
  top: 670px;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 17px 19px;
}

.header-ch-cont {
  background-color: #0D171D;
  height: 73px;
}
.header-ch-cont .logo {
  width: 193px;
  height: 73px;
  background-image: url(/img/other/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.moving-line {
  position: relative;
  height: 173px;
}

.moving-line-container {
  position: absolute;
  padding-left: 20px;
  top: -60px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
}
.moving-line-container .first p:nth-child(1) {
  position: absolute;
  bottom: 18px;
  left: 0;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 218px;
  background-color: #0D171D;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 21px;
  color: white;
}
.moving-line-container .first p:nth-child(2) {
  position: absolute;
  top: 55px;
  left: 55px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 153px;
  background-color: #A1D737;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #111111;
}
.moving-line-container .first p:nth-child(3) {
  position: absolute;
  top: 30px;
  left: 145px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 125px;
  background-color: #DAF836;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 21px;
  color: #111111;
  -webkit-transform: rotate(31deg);
          transform: rotate(31deg);
}
.moving-line-container .second p:nth-child(1) {
  position: absolute;
  bottom: 18px;
  left: 271px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 207px;
  background-color: #A1D737;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 21px;
  color: #111111;
}
.moving-line-container .second p:nth-child(2) {
  position: absolute;
  top: 75px;
  left: 355px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 187px;
  background-color: #0D171D;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 21px;
  color: #A1D737;
  -webkit-transform: rotate(17deg);
          transform: rotate(17deg);
}
.moving-line-container .third p:nth-child(1) {
  position: absolute;
  bottom: 18px;
  left: 620px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 151px;
  background-color: #A1D737;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 21px;
  color: #111111;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.moving-line-container .third p:nth-child(2) {
  position: absolute;
  top: 70px;
  left: 560px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 133px;
  background-color: #DAF836;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #111111;
  -webkit-transform: rotate(132deg);
          transform: rotate(132deg);
}
.moving-line-container .fourth p:nth-child(1) {
  position: absolute;
  bottom: 18px;
  left: 780px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 213px;
  background-color: #0D171D;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 21px;
  color: white;
}
.moving-line-container .fourth p:nth-child(2) {
  position: absolute;
  top: 70px;
  left: 920px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 118px;
  background-color: #DAF836;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #111111;
  -webkit-transform: rotate(34deg);
          transform: rotate(34deg);
}
.moving-line-container .fifth p:nth-child(1) {
  position: absolute;
  bottom: 18px;
  left: 1065px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 123px;
  background-color: #0D171D;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #A1D737;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.moving-line-container .sixth p:nth-child(1) {
  position: absolute;
  top: 70px;
  left: 1235px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 161px;
  background-color: #DAF836;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 21px;
  color: #111111;
  -webkit-transform: rotate(148deg);
          transform: rotate(148deg);
}
.moving-line-container .sixth p:nth-child(2) {
  position: absolute;
  bottom: 18px;
  left: 1320px;
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 111px;
  background-color: #A1D737;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #111111;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .moving-line-container {
    width: 768px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@media screen and (max-width: 376px) {
  .moving-line-container {
    width: 375px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.moving-line-container_el {
  position: relative;
  text-align: center;
  height: 173px;
}
.moving-line-container_el p {
  padding-top: 14px;
  margin: 0;
}

.characters-slider-cont {
  height: 764px;
  margin-top: 110px;
}
.characters-slider-cont h2 {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 44px;
  color: #111111;
}
.characters-slider-cont h2 span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 44px;
  color: white;
  background-color: #0D171D;
  border-radius: 60px;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .characters-slider-cont {
    height: 1482px;
  }
  .characters-slider-cont h2 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 44px;
    color: #111111;
  }
  .characters-slider-cont h2 span {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 44px;
    color: white;
  }
}
@media screen and (max-width: 376px) {
  .characters-slider-cont {
    height: 1165px;
    margin-top: 73px;
  }
  .characters-slider-cont h2 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 28px;
    color: #111111;
  }
  .characters-slider-cont h2 span {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 28px;
    color: white;
  }
}
.characters-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 32px;
  margin-top: 64px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .characters-slider {
    display: block;
  }
}
.ch-img {
  position: relative;
  z-index: 0;
  left: 0;
  top: 0;
  width: 504px;
  height: 644px;
  border-radius: 50px;
  background-image: url(/img/mainCharacters/rick.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #A1D737;
}

@media screen and (max-width: 768px) {
  .ch-img {
    width: 704px;
    height: 704px;
  }
}
@media screen and (max-width: 376px) {
  .ch-img {
    width: 335px;
    height: 335px;
  }
}
.ch-text {
  width: 648px;
  position: relative;
  z-index: 1;
  margin: 0;
  background-color: white;
}
.ch-text li {
  border-bottom: 1px solid rgba(17, 17, 17, 0.15);
}
.ch-text li:first-of-type h3 {
  margin-top: 0;
}
.ch-text .ch-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #111111;
}
.ch-text p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #111111;
}

@media screen and (max-width: 768px) {
  .ch-text {
    padding-top: 32px;
    padding-left: 0;
    width: 768px;
  }
}
.selected {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  color: #A1D737;
}

.bg-up {
  -webkit-animation: bg-up 2s linear;
          animation: bg-up 2s linear;
}

.bg-down {
  -webkit-animation: bg-down 2s linear;
          animation: bg-down 2s linear;
}

.episodes-slider {
  height: 744px;
  margin-top: 110px;
  padding-top: 100px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: #0D171D;
}
.episodes-slider h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 44px;
  color: white;
  width: 620px;
  margin-bottom: 60px;
}
.episodes-slider h3 span {
  background-color: #A1D737;
  border-radius: 50px;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .episodes-slider {
    margin-top: 125px;
  }
}
@media screen and (max-width: 376px) {
  .episodes-slider {
    margin-top: 43px;
    height: 566px;
    margin-top: 80px;
  }
  .episodes-slider h3 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 28px;
    color: white;
    width: 335px;
    margin-bottom: 33px;
  }
}
.episodes-slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  gap: 24px;
}

.episodes-slider_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  gap: 24px;
}
.episodes-slider_list li {
  width: 278px;
  height: 314px;
  border-radius: 25px;
  border: 2px solid #A1D737;
}

@media screen and (max-width: 376px) {
  .episodes-slider_list li {
    width: 200px;
    height: 200px;
  }
}
.ep_li-first {
  background-image: url("/img/other/first.png");
}

.ep_li-second {
  background-image: url("/img/other/second.png");
}

.ep_li-third {
  background-image: url("/img/other/third.png");
}

.ep_li-fourth {
  background-image: url("/img/other/fourth.png");
}

.ep_li-fifth {
  background-image: url("/img/other/fifth.png");
}

.firstMove {
  -webkit-animation: moveFirst 5s linear infinite;
          animation: moveFirst 5s linear infinite;
}

.secondMove {
  -webkit-animation: moveSecond 5s linear infinite;
          animation: moveSecond 5s linear infinite;
}

@-webkit-keyframes moveFirst {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes moveFirst {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes moveSecond {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes moveSecond {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.episodes-btn {
  height: 42px;
  border-radius: 50px;
  border: none;
  width: 113px;
  margin-left: 1400px;
  background-color: #A1D737;
  margin-top: 30px;
  padding: 10px 24px;
}
.episodes-btn a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #111111;
}

@media screen and (max-width: 768px) {
  .episodes-btn {
    margin-left: 600px;
  }
}
@media screen and (max-width: 376px) {
  .episodes-btn {
    margin-left: 250px;
    width: 96px;
    height: 36;
    margin-top: 0px;
    padding: 10px 20px;
  }
  .episodes-btn a {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 12px;
    color: #111111;
  }
}
.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 300px;
  padding-top: 40px;
  margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .footer-main {
    gap: 96px;
  }
}
.footer-content {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 300px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    gap: 75px;
  }
}
@media screen and (max-width: 376px) {
  .footer-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 80px;
  }
  .footer-main .footer-content {
    width: 44px;
    display: block;
  }
}
.footer-logo {
  position: relative;
  width: 225px;
  height: 120px;
  background-image: url(/img/other/footer.svg);
  background-position: 15px top;
  background-repeat: no-repeat;
  background-size: 99px 84px;
}

@media screen and (max-width: 376px) {
  .footer-logo {
    width: 149px;
    height: 107px;
  }
}
.rick-logo {
  height: 49px;
  border-radius: 50px;
  border: none;
  width: 153px;
  margin: 70px 0 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: white;
  padding: 14px 24px;
  background-color: #0D171D;
}

@media screen and (max-width: 376px) {
  .rick-logo {
    width: 120px;
    height: 46x;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
}
.morty-logo {
  position: absolute;
  left: 85px;
  top: 50px;
  height: 49px;
  border-radius: 25px;
  border: none;
  width: 125px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #111111;
  text-align: center;
  padding: 14px 24px;
  margin: 0;
  background-color: #DAF836;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
}

@media screen and (max-width: 376px) {
  .morty-logo {
    width: 97px;
    height: 42px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    color: #111111;
  }
}
.footer-nav {
  padding-top: 30px;
}
.footer-nav li:first-of-type {
  margin-bottom: 16px;
}
.footer-nav a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #111111;
}

@media screen and (max-width: 376px) {
  .footer-nav {
    padding: 10px 0 0;
    line-height: 10px;
  }
  .footer-nav a {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: #111111;
  }
}
.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  padding-top: 30px;
}
.networks li {
  width: 56px;
  height: 56px;
  border: 1px solid rgba(17, 17, 17, 0.15);
  border-radius: 15px;
}
.networks .net-first {
  padding: 15px 21px;
}
.networks .net-second {
  padding: 17px 15px;
}
.networks .net-third {
  padding: 15px 15px;
}

@media screen and (max-width: 376px) {
  .networks {
    gap: 12px;
    padding: 0px;
  }
  .networks li {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  .networks .net-first {
    padding: 10px 10px;
  }
  .networks .net-first svg {
    width: 15px;
    height: 17px;
  }
  .networks .net-second {
    padding: 10px 12px;
  }
  .networks .net-second svg {
    width: 18px;
    height: 18px;
  }
  .networks .net-third {
    padding: 10px 10px;
  }
  .networks .net-third svg {
    width: 18px;
    height: 18px;
  }
}
.footer-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 17, 17, 0.4);
  text-align: center;
}

@media screen and (max-width: 376px) {
  .footer-text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    color: rgba(17, 17, 17, 0.4);
  }
}
@-webkit-keyframes bg-down {
  0% {
    top: 0;
  }
  60% {
    top: 1000px;
  }
  100% {
    top: 1000px;
  }
}
@keyframes bg-down {
  0% {
    top: 0;
  }
  60% {
    top: 1000px;
  }
  100% {
    top: 1000px;
  }
}
@-webkit-keyframes bg-up {
  0% {
    top: 1000px;
  }
  60% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
@keyframes bg-up {
  0% {
    top: 1000px;
  }
  60% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes lineMove {
  0% {
    left: 1700px;
  }
  55% {
    left: -100px;
  }
  100% {
    left: -1500px;
  }
}
@keyframes lineMove {
  0% {
    left: 1700px;
  }
  55% {
    left: -100px;
  }
  100% {
    left: -1500px;
  }
}
.hero-ch {
  background-color: #0D171D;
  padding-top: 95px;
  height: 803px;
}
.hero-ch .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 115px;
}
.hero-ch .hero-text {
  margin: 84px 0 30px 0;
  width: 556px;
  height: 196px;
}
.hero-ch .hero-text h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 100px;
  color: white;
}
.hero-ch .hero-text p {
  margin-top: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-align: left;
}

.homeback {
  height: 42px;
  border-radius: 50px;
  border: solid 1px rgba(250, 250, 250, 0.3);
  width: 131px;
  background-color: inherit;
}
.homeback a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: white;
}
.homeback:hover {
  background-color: #A1D737;
  height: 42px;
  border-radius: 50px;
  border: none;
}
.homeback:hover a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #111111;
}

.hero-ch-img {
  width: 504px;
  height: 504px;
  background-color: #A1D737;
  border-radius: 90px;
  background-position: center 25px;
  background-repeat: no-repeat;
  background-size: 486px 725px;
  background-image: url(/img/mainCharacters/rick.png);
}

.filtering-ch-cont {
  margin-top: 60px;
  padding-bottom: 125px;
  position: relative;
}

.filtering-ch-op {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  gap: 16px;
  width: 1008px;
  margin: 0 85px;
  padding: 0;
}
.filtering-ch-op li p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #111111;
  margin-top: 0;
}
.filtering-ch-op li input {
  height: 50px;
  border-radius: 25px;
  border: solid 1.8px #0D171D;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #0D171D;
  width: 233px;
  background-color: #DAF836;
  padding: 16px 24px;
  background-position: 200px 16px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-image: url(/img/other/dark-search.svg);
}
.filtering-ch-op li input::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #0D171D;
}
.filtering-ch-op li input::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #0D171D;
}
.filtering-ch-op li input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #0D171D;
}
.filtering-ch-op li input::-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #0D171D;
}
.filtering-ch-op li input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #0D171D;
}
.filtering-ch-op li .selector {
  padding: 16px 24px;
  height: 50px;
  border-radius: 25px;
  border: solid 1.8px #0D171D;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #0D171D;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/img/other/arrow-down.svg);
}
.filtering-ch-op li .selector:hover {
  cursor: url("/img/other/cursor.svg"), auto;
}
.filtering-ch-op li .status-selector {
  width: 165px;
  background-position: 130px 16px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.filtering-ch-op li .species-selector {
  width: 204px;
  background-position: 170px 16px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.filtering-ch-op li .type-selector {
  width: 175px;
  background-position: 140px 16px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.filtering-ch-op li .gender-selector {
  width: 167px;
  background-position: 130px 16px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.filtering-ch-op li .selector-list {
  display: none;
  background-color: white;
  border: 1px solid #0D171D;
  border-top: none;
  border-radius: 25px;
  padding: 15px 20px;
  line-height: 25px;
  color: rgba(17, 17, 17, 0.3);
}
.filtering-ch-op li .selector-list li:hover {
  color: #0D171D;
  cursor: url("/img/other/cursor.svg"), auto;
}

.ch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 145px 0 0;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ch-container li {
  width: 278px;
}

.character-img {
  width: 278px;
  height: 314px;
  border-radius: 25px;
  border: 2px solid #A1D737;
}

.ch-content .ch-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  color: #111111;
}
.ch-content p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: rgba(17, 17, 17, 0.5);
}
.ch-content p span {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #111111;
}

.error {
  display: block;
  margin: 0 auto;
}

.error-pic {
  width: 388px;
  height: 358px;
  margin: 64px auto 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/other/errorPic.png);
}

.error-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: #111111;
  text-align: center;
}

.load-more {
  display: block;
  height: 42px;
  border-radius: 50px;
  border: none;
  width: 126px;
  background-color: #A1D737;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  color: #111111;
  padding: 12px 24px;
  margin: 65px auto 0;
}

#footer-ch {
  background-color: #0D171D;
  padding-bottom: 16px;
}
#footer-ch .rick-logo {
  background-color: #A1D737;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #0D171D;
}
#footer-ch .footer-nav a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: white;
}
#footer-ch .networks li {
  border: 1px solid white;
}
#footer-ch .networks li svg {
  fill: white;
}
#footer-ch .networks .net-second path {
  stroke: white;
}

.footer-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 250, 250, 0.4);
  margin-bottom: 0;
}

* {
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */