@import './utils/mixins', './utils/vars','./components/header','./components/main','./components/characters','./components/episodes';

*{
    list-style-type: none;
    text-decoration: none;
}
 html {
    scroll-behavior: smooth;
  }