{{#each episodes}}
<li class="ep-el" data-episode-id="{{id}}">
    <h3 class="ep-title">{{name}}</h3>
    <div class="ep-content">
        <p>Season<br><span class="season-ep">{{episode}}</span></p>
        <p>Air date<br><span>{{air_date}}</span></p>
    </div>
</li>
{{/each}}