.hero-common{
    background-color: $black;
    padding-top: 95px;
    height: 803px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    & .container{
        display: flex;
        gap: 115px;
    }
    & .hero-text{
        margin: 84px 0 30px 0;
        width:556px;
        height: 196px;
       & h1{
            margin-top: 0;
            margin-bottom: 16px;
            @include text($size:100px, $color:white, $weight:600);
        }
        & p{
            margin-top: 0;
             @include text($size:16px, $color:white);
             text-align: left;
             line-height: 23px;
        }
    }
}
@media screen and (max-width:768px){
    .hero-common{
        height: 695px;
        padding-top:126px;
        & .container{
            gap: 24px;
        }
        & .hero-text{
            width: 334px;
            height: 166px;
            margin: 84px 0 32px 0;
        & h1{
            @include text($size:60px, $color:white, $weight:600);
        }
        & p{
            line-height: 20px;
            margin-bottom: 32px;
        }
        }
    }
}
@media screen and (max-width:376px){
    .hero-common{
        height: 790px;
        padding-top:60px;
        & .container{
            display: block;
        }
        & .hero-text{
            width: 334px;
            height: 148px;
            margin:0px 0 32px 0;
        & h1{
            @include text($size:40px, $color:white, $weight:600);
        }
        & p{
            line-height: 20px;
            margin-bottom: 32px;
            @include text($size:14px, $color:white);
        }
        }
    }
}
.homeback{
    @include input($height:42px,$border:solid 1px rgba(250,250,250,0.3));
    width: 131px;
    background-color: inherit;
    & a{
        @include text($weight:600,$size:14px, $color:white);
    }
    &:hover{
        background-color: $green;
        @include input($border:none,$radius:50px,$height:42px);
        & a{
            @include text($weight:600,$size:14px);
        }
    }
}
@media screen and (max-width:768px){
    .homeback{
        margin-bottom: 32px;
    }
}
.hero-ch-img{
    width: 504px;
    height: 504px;
    background-color:$green ;
    border-radius: 90px;
    @include bg($size:486px 725px, $position: center 25px);
    background-image: url(/img/mainCharacters/rick.png);
}
@media screen and (max-width:768px){
    .hero-ch-img{
        width: 346px;
        height: 346px;
        border-radius: 50px;
        @include bg($size:317px 542px, $position: center 15px);
    }
}
@media screen and (max-width:376px){
    .hero-ch-img{
        width: 335px;
        height: 335px;
        border-radius: 25px;
        @include bg($size:317px 542px, $position: center 15px);
    }
}
.filtering-ch-cont{
    margin-top: 60px;
    padding-bottom: 125px;
    position: relative
}
@media screen and (max-width:376px){
    .filtering-ch-cont{
        margin-top: 0;
    }
}
.filtering-ch-op{
    display: flex;
    position: absolute;
    gap: 16px;
    width: 1008px;
    margin: 0 85px;
    padding: 0;
    & li{
        & p{
            @include text($size:14px);
            margin-top: 0;
        }
        & .search-ch{
            @include input($border:solid 1.8px $black, $height:50px,$radius:25px);
            @include text($size:14px,$color:$black);
            width: 233px;
            background-color: $light-green;
            padding: 16px 24px;
            @include bg($position:200px 16px, $size:18px 18px);
            background-image: url(/img/other/dark-search.svg);
            &::placeholder{
                @include text($size:14px,$color:$black);
            }
        }
        & .selector{
            padding: 16px 24px;
            @include input($border:solid 1.8px $black, $height:50px,$radius:25px);
            @include text($size:14px,$color:$black);
            appearance: none; 
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url(/img/other/arrow-down.svg);
            &:hover{
                cursor: url('/img/other/cursor.svg'), auto;
            }
        }
        & .status-selector{
            width: 165px;
            @include bg($position:130px 16px , $size:18px 18px);
        }
        & .species-selector{
            width: 204px;
            @include bg($position:170px 16px , $size:18px 18px);
        }
        & .type-selector{
            width: 175px;
            @include bg($position:140px 16px , $size:18px 18px);
        }
        & .gender-selector{
            width: 167px;
            @include bg($position:130px 16px , $size:18px 18px);
        }
        & .selector-list{
            display: none;
            background-color: white;
            border: 1px solid $black;
            border-top: none;
            border-radius: 25px;
            padding: 15px 20px;
            line-height: 25px;
            color: rgba(17,17,17,0.3);
            & li:hover{
                color: $black;
                cursor: url('/img/other/cursor.svg'), auto;
            }
        }
    }
}
@media screen and (max-width:768px){
    .filtering-ch-op{
        width:768px;
        flex-wrap: wrap;
        margin: 0;
        & li{
            & .status-selector{
            z-index: 1;
        }
        & .species-selector{
            z-index: 1;
        }
        & .type-selector{
            z-index: 0;
        }
        & .gender-selector{
            z-index: 0;
        }
        }
    }
}
@media screen and (max-width:376px){
    .filtering-ch-op{
        width:335px;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0;
        & li{
            & .search-ch{
                width: 335px;
                @include bg($position:290px 16px, $size:18px 18px);
            }
            & .selector{
                width: 162px;
            }
            & .species-selector{
                @include bg($position:130px 16px , $size:18px 18px);
            }
            & .type-selector{
            @include bg($position:130px 16px , $size:18px 18px);
            }
        }
    }
}
.ch-container{
    display: flex;
    padding: 145px 0 0;
    gap: 24px;
    flex-wrap: wrap;
    & li{
        width: 278px;
    }
}
@media screen and (max-width:768px){
    .ch-container{
        padding:230px 0 0;
        gap: 92px;
    }
}
@media screen and (max-width:376px){
    .ch-container{
        display: block;
        padding:300px 0 0;
        gap: 92px;
        & li{
            margin-bottom: 40px;
        }
    }
}
.character-img{
    width: 278px;
    height: 314px;
    border-radius: 25px;
    border: 2px solid $green;
}
@media screen and (max-width:768px){
    .character-img{
        width: 336px;
        height:337px;
    }
}
@media screen and (max-width:376px){
    .character-img{
        width: 335px;
        height:335px;
    }
}
.ch-content{
    & .ch-title{
        @include text($weight:600);
    }
    & p{
        @include text($size:14px,$color:rgba(17,17,17,0.5));
        & span{
            @include text($size:14px);
        }
    }
}
.error{
    display: block;
    margin: 0 auto;
}
.error-pic{
    width: 388px;
    height: 358px;
    margin: 64px auto 0;
    @include bg();
    background-image: url(/img/other/errorPic.png);
}
.error-text{
    @include text($size:24px);
    text-align: center;
}
.load-more{
    display: block;
    @include input($height:42px,$radius:50px,$border:none);
    width: 126px;
    background-color: $green;
    @include text($weight:600, $size: 14px);
    padding: 12px 24px;
    margin: 65px auto 0;
}
#footer-common{
    background-color: $black;
    padding-bottom: 16px;
    & .rick-logo{
        background-color: $green;
        @include text($weight:600, $size:20px,$color:$black);
    }
    & .footer-nav{
        & a{
            @include text($color:white);
        }
    }
    & .networks{
        & li{
            border: 1px solid white;
            & svg{
                fill: white;
            }
        }
        & .net-second path{
            stroke:white; 
        }
    }
}
@media screen and (max-width:768px){
    #footer-common{
        width: 768px;
    }
}
@media screen and (max-width:376px){
    #footer-common{
        width: 376px;
        & .rick-logo{
            @include text($weight:600, $size:16px,$color:$black);
        }
        & .morty-logo{
            width: 97px;
        }
    }
}
.footer-text{
    @include text($color:rgba(2550,250,250,0.4), $size:14px);
    margin-bottom: 0;
}
@media screen and (max-width:768px){
    .footer-common{
        gap: 80px;
        & .networks{
            gap: 24px;
        }
    }
}
@media screen and (max-width:376px){
    .footer-common{
        gap: 50px;
        height: 175px;
        & .networks{
            gap: 12px;
        }
        & .footer-nav{
            margin: 0;
        }
    }
}
.modal-ch{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 710px;
    height: 510px;
    background-color: $black;
    border-radius: 25px;
    padding: 32px;
}
.close-ch{
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 100%;
    background: inherit;
    border: none;
}
.modap-ch-content{
    display: flex;
    gap: 20px;
    & img{
        border: 2px solid $light-green;
        border-radius: 25px;
    }
    .ch-info{
        & ul{
            width: 278px;
            height: 146px;
            border: 1px solid $light-green;
            border-radius: 20px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            padding: 15px;
            overflow-y: scroll;
            & li{
                line-height: 20px;
            }
            .ch-info-txt{
                margin: 0;
                @include text($size:12px, $color:rgba(white,0.5));
            & span{
                @include text( $size:13px, $color:white);
            }   
        }
        }
    }
    .ch-title{
        @include text($weight:600, $size:24px, $color:white);
    }
    .ep-list{
        padding: 0;
        height: 373px;
        overflow-y: scroll;
        & li{
            display: flex;
            gap: 100px;
            border-radius: 20px;
            border: 1px solid $light-green;
            padding: 15px;
            width: 352px;
            margin-bottom: 10px;
            & .ep-info-cont{
                display: flex;
                gap: 14px;
                line-height: 20px;
            }
            & .ep-name{
                @include text($weight:600, $size:14px, $color:$light-green);
                margin: 0;
            }
            & .ep-info{
                margin: 0;
                @include text($size:12px, $color:rgba(white,0.5));
                & span{
                    @include text($size:14px, $color:white);
                }
            }
        }
    }
    ::-webkit-scrollbar {
  width: 5px;      
}

::-webkit-scrollbar-track {
  background-color: inherit;  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $light-green;
  border-radius: 150px;
}
}
