header{
    background-color: $black;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    padding-top: 24px;
    & .container{
        height: 803px;
        background:
            url(/img/other/header-home.png),url(/img/other/logo.svg),url(/img/other/points.svg),
             radial-gradient(ellipse 360px 240px at 600px 450px, 
                  rgba(52,56,127,0.36) 0%,
                  rgba(52,56,127,0.18) 40%,
                  rgba(52,56,127,0.00) 100%);
        background-position:center 50px, center 500px, 665px 430px;
        background-repeat:no-repeat;
        background-size:523px 411px, 462px 184px, 142px 170px,cover;
    }
}
.container{
    position: relative;
    width: 1184px;
    margin: 0 auto;
    // z-index: 0;
}
.btn-nav{
    display: flex;
    text-align: center;
    margin: 0;
    & li:hover{
        background-color: $green;
        @include input($border:none,$radius:50px,$height:42px);
        & a{
            @include text($weight:600,$size:14px);
        }
    }
    &-ch{
        @include input($border:solid 1px rgba(250,250,250,0.3),$radius:50px,$height:42px);
        background-color:inherit;
        width:126px;
        padding-top: 10px;
        & a{
            @include text($weight:600,$size:14px,$color:white);
        }
    };
    &-ep{
        @include input($border:solid 1px rgba(250,250,250,0.3),$height:42px);
        background-color: inherit;
        width:113px;
        padding-top: 10px;
        & a{
            @include text($weight:600,$size:14px, $color:white);
        }
    };
}
.search{
    position: absolute;
    top: 0;
    @include input($height:42px,$border:solid 1px rgba(250,250,250,0.3));
    @include text($weight:600,$size:14px, $color:white);
    right: 0;
    width: 124px;
    padding: 12px 24px 12px 50px;
    background-color: inherit;
    background-image: url(/img/other/search.svg);
    @include bg();
    &::placeholder{
        color: white;
    }
}
.header-text{
    width: 311px;
    @include text($color:white);
    margin-top: 200px;
}
.arrow-btn{
    position: fixed;
    z-index: 999;
    right:130px ;
    top:670px ;
    width: 80px;
    height: 80px;
    border: 1px solid rgba($color: white, $alpha: 0.5);
    border-radius: 50px;
    padding: 17px 19px;
}