.header-main-cont{
        background-color: $black;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        padding-top: 14px;
         & .container{
        height: 803px;
        padding-top: 24px;
        background:
            url(/img/other/header-home.png),url(/img/other/logo.svg),url(/img/other/points.svg),
             radial-gradient(ellipse 360px 240px at 600px 450px, 
                  rgba(52,56,127,0.36) 0%,
                  rgba(52,56,127,0.18) 40%,
                  rgba(52,56,127,0.00) 100%);
        background-position:center 50px, center 500px, 665px 430px;
        background-repeat:no-repeat;
        background-size:523px 411px, 462px 184px, 142px 170px,cover;
    }
}
@media screen and (max-width:768px) {
    .header-main-cont{
        & .container{
            height: 825px;
            padding-top: 14px;
            background:
            url(/img/other/header-home.png),url(/img/other/logo.svg),url(/img/other/points.svg),
             radial-gradient(ellipse 360px 240px at 400px 450px, 
                  rgba(52,56,127,0.36) 0%,
                  rgba(52,56,127,0.18) 40%,
                  rgba(52,56,127,0.00) 100%);
        background-position:center 50px, center 500px, 420px 430px;
        background-repeat:no-repeat;
        background-size:523px 411px, 462px 184px, 142px 170px,cover;
        }
    }
}
@media screen and (max-width:376px) {
    .header-main-cont{
        & .container{
            height: 791px;
            padding-top: 14px;
            background:
            url(/img/other/header-home.png),url(/img/other/logo.svg),url(/img/other/points.svg),
             radial-gradient(ellipse 230px 240px at 160px 200px, 
                  rgba(52,56,127,0.36) 0%,
                  rgba(52,56,127,0.18) 40%,
                  rgba(52,56,127,0.00) 100%);
        background-position:center 156px, center 460px, 180px 350px;
        background-repeat:no-repeat;
        background-size:335px 259px, 323px 128px, 142px 170px,cover;
        }
    }
}
.container{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 1184px;
}
@media screen and (max-width:768px){
    .container{
    width: 704px;
    }
}
@media screen and (max-width:376px){
    .container{
    width: 335px;
    }
}
.btn-nav{
    display: flex;
    text-align: center;
    margin: 0;
    & li:hover{
        background-color: $green;
        @include input($border:none,$radius:50px,$height:42px);
        & a{
            @include text($weight:600,$size:14px);
        }
    }
    &-ch{
        width: 126px;
        @include input($border:solid 1px rgba(250,250,250,0.3),$radius:50px,$height:42px);
        background-color:inherit;
        padding-top: 10px;
        & a{
            @include text($weight:600,$size:14px,$color:white);
        }
    };
    &-ep{
        width: 113px;
        @include input($border:solid 1px rgba(250,250,250,0.3),$height:42px);
        background-color: inherit;
        padding-top: 10px;
        & a{
            @include text($weight:600,$size:14px, $color:white);
        }
    };
}
@media screen and (max-width:376px){
    .btn-nav{
        padding: 0;
    &-ch{
        width: 107px
    };
    &-ep{
        width: 96px
    };
}
}

.search{
    position: absolute;
    top: 20px;
    @include input($height:42px,$border:solid 1px rgba(250,250,250,0.3));
    @include text($weight:600,$size:14px, $color:white);
    right: 0;
    width: 124px;
    padding: 12px 24px 12px 50px;
    background-color: inherit;
    background-image: url(/img/other/search.svg);
    @include bg($position:24px 12px, $size: 18px 18px);
    &::placeholder{
        color: white;
    }
}
@media screen and (max-width:376px){
    .search{
        top: 15px;
        width: 103px;
        @include text($weight:600,$size:12px, $color:white);
        padding: 12px 0 12px 42px;
        @include bg($position:18px 12px, $size: 18px 18px);
}
}
.header-text{
    @include text($color:white);
    width: 311px;
    margin-top: 200px;
    line-height: 20px;
}

@media screen and (max-width:768px){
    .header-text{
        width: 412px;
        margin: 670px auto 0;
        text-align: center;
    }
}
@media screen and (max-width:376px){
    .header-text{
        width: 291px;
        margin: 567px auto 0;
        text-align: center;
    }
}
.arrow-btn{
    position: fixed;
    z-index: 999;
    right:130px ;
    top:670px ;
    width: 80px;
    height: 80px;
    border: 1px solid rgba($color: white, $alpha: 0.5);
    border-radius: 50px;
    padding: 17px 19px;
     @include bg($size:40px 40px);
    background-image: url(/img/other/v1.svg);
}


.header-ch-cont{
    background-color: $black;
    height: 73px;
    & .logo{
    width: 193px;
    height: 73px;
    background-image: url(/img/other/logo.svg);
    @include bg($position:center, $size:contain);
}
}
.arrow-down{
    @include bg($size:40px 40px);
    background-image: url(/img/other/v1.svg);
}
.arrow-up{
    @include bg($size:40px 40px);
    background-image: url(/img/other/v2.svg);
}